---
layout: default
---
<!-- First section with name, picture, etc -->
<div class="container">
	<div class="row">
		<div class="col col-12">
			<article class="article-first">
				<div class="article-image-first" style="background-image: url({{"/img/" | prepend: site.baseurl | append : post.image}})">
					<div class="article-content-first">
						<h2 class="article-title">{{site.author-name}}</h2>
						<h3>ROBOTICS &bull; MEDICINE &bull; ENGINEERING</h3>
						<p class="article-excerpt">
							Master of Science in Robotics student at Northwestern University
						</p>
						<p class="article-excerpt">
							Click here to learn more about me!
						</p>
						<a href="/about" class="button read-more">About Me</a>
					</div>
				</div>
			</article>
		</div>
	</div>
</div>

<div class="container">
	<div class="row">
		<div class="col col-12 col-t-8">
			<div class="row">
			{%- for post in paginator.posts offset: 0-%}
				<article class="article col col-12 col-t-6">
					<div class="article-box">
						<div class="article-head">
							<a href="{{ post.url | prepend: site.baseurl }}" class="article-image" style="background-image: url({{"/img/" | prepend: site.baseurl | append : post.image}})">
								<div class="image-overlay">
									<span class="image-overlay-text">{{post.title | slice: 0}}</span>
								</div>
							</a>
						</div>
						<div class="article-content">
							<div class="article-info">
								<!-- Display date of project post (probably will never do this)  -->
								<!-- <div class="article-date">
									<span class="date"><time datetime="{{ post.date | date_to_xmlschema }}">{% assign date_format = site.minima.date_format | default: "%b %-d, %Y" %}{{ post.date | date: date_format }}</time></span>
								</div> -->
								<div class="article-tag">
								{% if post.tags.size >= 1 %}
									{% for tag in post.tags %}
									<a href="{{ site.baseurl }}/tags#{{tag}}" class="tag">{{ tag }}</a>
									{% endfor %}
								{% else %} {% endif %}
								</div>
							</div>
							<h2 class="article-title">
								<a href="{{ post.url | prepend: site.baseurl }}">{{post.title}}</a>
							</h2>
							<!-- <p class="article-excerpt">{% if post.description %}{{ post.description | strip_html | truncate: 135 }}{% else %}{{ post.content | strip_html | truncate: 135 }}{% endif %}</p> -->
						</div>
					</div>
				</article> <!-- /.article -->
			{% endfor %}
			</div>
			{% include pagination.html %}
		</div>
		<div class="col col-12 col-t-4">
			{% include sidebar.html %}
		</div>
	</div>
</div>
